body {
    padding-top: 47px;
    padding: 3px;
}

/* CSS for label displaying distance in homepage */

.label-as-badge {
    border-radius: 1em;
}

/* CSS for comments section*/

.comment {
    padding-bottom: 5px;
}
.panel-body.comment-container {
    padding-top: 0;
}
.comment-header {
    margin-bottom: 10px;
}
.commentAuthor {
    margin: 0 5px;
}
.commentTimestamp {
    color: #ccc;
}

/* CSS for image gallery carousel */

.thumbnail {
    margin-bottom: 6px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    margin-top: 10%;
    width: 5%;
}
