extends layout

block content
  #banner.page-header
    .row
      .col-md-8.col-sm-12
        h1= title
  .row
    .col-md-8.col-sm-12
      p(align='justify')
        | fetch is being created to help people find lost dogs near them. It lists dogs in order according your current location and the last seen location of the dogs.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at sodales libero, a semper nibh. Praesent pulvinar nisi eu ultrices tincidunt. In hac habitasse platea dictumst. Praesent fringilla dictum eros et consectetur. Nam sollicitudin maximus nunc, sit amet venenatis nisl scelerisque nec. Vivamus id porttitor sapien. Aliquam erat volutpat. Aliquam egestas at tortor in suscipit. In malesuada in ex vel luctus. Aenean semper aliquet orci. Mauris convallis finibus erat rhoncus iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        | <br /><br />
        | Morbi a turpis ligula. Cras ut facilisis tellus. Pellentesque condimentum sapien sodales ante rutrum, in consectetur sapien sodales. Etiam vitae turpis commodo, dapibus tellus ut, suscipit lorem. Proin vitae consequat metus, quis vehicula elit. Maecenas ac pretium nulla. Quisque accumsan elit velit, sit amet eleifend purus porttitor nec. Fusce id consectetur nisl. Curabitur et urna non ipsum varius blandit. Duis sed nisl in massa pellentesque laoreet ut nec dolor. Nunc gravida libero sed libero malesuada, eu blandit orci ornare. Suspendisse nec turpis vitae ligula tristique rhoncus eu ut nunc. Sed eu diam molestie felis venenatis aliquam et at mi. Phasellus nec auctor metus. Quisque tempor ex nec neque convallis, nec dictum velit lobortis.
        | <br /><br />        
        | Sed sem urna, imperdiet vel rutrum a, ullamcorper non lorem. Etiam quis libero odio. Integer at ipsum eu lorem varius auctor. Pellentesque imperdiet, lectus ut tempor laoreet, nibh urna efficitur purus, sit amet bibendum dui ipsum id lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eleifend purus, in laoreet erat bibendum eget. Donec ut tortor rhoncus, varius diam ut, consectetur elit. Cras vitae nunc vel diam vehicula gravida. Donec finibus purus velit, quis convallis magna placerat non. Suspendisse ut est porta, condimentum urna non, efficitur eros. Nullam ac porta nisl, in aliquam leo.
        | <br /><br />
        | Sed mollis elit eu enim tristique accumsan. Maecenas pulvinar a massa tempor mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque eros purus, aliquet sit amet facilisis a, dapibus eget massa. Vestibulum et pharetra massa, ac consectetur dui. Phasellus quis elit in libero tincidunt blandit. Pellentesque odio nunc, pharetra id porttitor euismod, imperdiet nec felis. Sed a varius dolor.
        | <br /><br />
        | Aliquam mollis turpis nisi, vel dapibus odio convallis vitae. Donec tincidunt tellus a sem eleifend cursus. Nam eget magna eu magna sodales ultricies. Pellentesque quis fermentum sem, vitae tincidunt justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer rutrum tincidunt felis. Nulla facilisi. Mauris in felis vitae libero ullamcorper luctus.
