extends layout

block content 
  .row.page-header
    .col-lg-12 
      h1 Growlie
        small &nbsp; missing since 4 July 2016
  .row
    .col-xs-12.col-md-8
      .row.grid-divider
        .col-xs-12.col-sm-7
          img.img-responsive.img-thumbnail(src='/images/growlie.jpg')
        .col-xs-12.col-sm-5
          dl
            dt Name
            dd Growlie
          dl
            dt Last seen date
            dd 4 July 2016
          dl
            dt Last seen location
            dd Cinnabar Island, Kanto region.
          dl
            dt Description of dog
            dd A level-13 pokémon very loyal to his trainer, Growlie will bark fiercely at anything invading our territory. Growlie has a superb sense of smell. Once he smells anything, he won’t forget the scent, no matter what! He can even use his advanced olfactory sense to determine the emotions of other living things.
      .row
        .col-xs-12
          br
      .row
        .col-xs-12
          .panel.panel-inverse.comment-panel
            .panel-heading 
              a.btn.btn-default.pull-right(href='#') Add comment
              h2.panel-title Comments 
            .panel-body.comment-container
              .row 
                .comment
                  .well.well-sm.comment-header 
                    span.commentAuthor Gary Oak
                    small.commentTimestamp 16 July 2013 
                  .col-xs-12
                    p I saw one just like this so I caught it with a pokeball. He has since evolved to an Arcanine!
            .panel-body.comment-container
              .row 
                .comment
                  .well.well-sm.comment-header 
                    span.commentAuthor Gary Oak
                    small.commentTimestamp 16 July 2013 
                  .col-xs-12
                    p I saw one just like this so I caught it with a pokeball. He has since evolved to an Arcanine!
