extends layout

block content 
  .row.page-header
    .col-lg-12 
      h1 Fido
        small &nbsp; missing since 30 June 2016
  .row
    .col-xs-12
      p Last seen near Glasgow's George Square, Fido is a friendly, fluffy, four year-old chow-chow who loves to play fetch.
    .col-xs-12.col-md-9
      .row
        .col-xs-12
          center
            img.img-responsive.img-thumbnail(src='/images/chow-chow.jpg')
      .row
        .col-xs-12
          br
      .row
        .col-xs-12
          .panel.panel-inverse.comment-panel
            .panel-heading 
              a.btn.btn-default.pull-right(href='#') Add comment
              h2.panel-title Comments 
            .panel-body.comment-container
              .row 
                .comment
                  .well.well-sm.comment-header 
                    span.commentAuthor Gary Oak
                    small.commentTimestamp 16 July 2013 
                  .col-xs-12
                    p I saw one just like this so I caught it with a pokeball. He has since evolved to an Arcanine!
            .panel-body.comment-container
              .row 
                .comment
                  .well.well-sm.comment-header 
                    span.commentAuthor Gary Oak
                    small.commentTimestamp 16 July 2013 
                  .col-xs-12
                    p I saw one just like this so I caught it with a pokeball. He has since evolved to an Arcanine!
