extends layout

block content 
  .row.page-header
    .col-lg-12 
      h1 Growlie
        small &nbsp; missing since 4 July 2016
  .row
    .col-xs-12.col-md-8
      .row
        .col-xs-12.col-sm-7        
          a(title='Image 1', href='#')
            img#dog-images.img-responsive.thumbnail.center-block(src='/images/growlie1.jpg', data-toggle='tooltip', data-placement='top', title='', data-original-title='Click to view more pictures.', data-animation='true')
        .col-xs-12.col-sm-5
          dl
            dt Name
            dd Growlie
          dl
            dt Breed
            dd Fire-type
          dl
            dt Age
            dd 5
          dl
            dt Last seen date
            dd 4 July 2016
          dl
            dt Last seen location
            dd Cinnabar Island, Kanto region.
          dl
            dt Tags
            dd
            span.label.label-success Friendly
            | &nbsp;
            span.label.label-primary Loyal
            | &nbsp;
        .col-xs-12
          br
          dl
            dt Description of dog
            dd 
              p(align='justify') A level-13 pokémon very loyal to his trainer, Growlie will bark fiercely at anything invading our territory. Growlie has a superb sense of smell. Once he smells anything, he won’t forget the scent, no matter what! He can even use his advanced olfactory sense to determine the emotions of other living things.
      #img-repo.hidden
        #dog-images.item
          img.thumbnail.img-responsive.center-block(title='Growlie 1', src='/images/growlie1.jpg')
        #dog-images.item
          img.thumbnail.img-responsive.center-block(title='Growlie 2', src='/images/growlie2.jpg')
        #dog-images.item
          img.thumbnail.img-responsive.center-block(title='Growlie 3', src='/images/growlie3.jpg')
      #modal-gallery.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title
            .modal-body
              #modal-carousel.carousel
                .carousel-inner
                a.carousel-control.left(href='#modal-carousel', data-slide='prev')
                  i.glyphicon.glyphicon-chevron-left
                a.carousel-control.right(href='#modal-carousel', data-slide='next')
                  i.glyphicon.glyphicon-chevron-right
            .modal-footer
              button.btn.btn-primary.center-block(data-dismiss='modal') Close
      .row
        .col-xs-12
          .panel.panel-inverse.comment-panel
            .panel-heading 
              a.btn.btn-default.pull-right(href='#') Add comment
              h2.panel-title Comments 
            .panel-body.comment-container
              .row 
                .comment
                  .well.well-sm.comment-header 
                    span.commentAuthor 
                      a(href='') Gary Oak
                    small.commentTimestamp 16 July 2013 
                  .col-xs-12
                    p I saw one just like this so I caught it with a pokeball. He has since evolved to an Arcanine!
            .panel-body.comment-container
              .row 
                .comment
                  .well.well-sm.comment-header 
                    span.commentAuthor 
                      a(href='') Officer Jenny
                    small.commentTimestamp 20 July 2013 
                  .col-xs-12
                    p How dare Team Rocket take an Officer Jenny's Growlithe! We will get them for this!
