extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
         h1 fetch
          small &nbsp; Helping find lost dogs near you.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/dog") Fido
          p Four year old chow-chow last seen near Glasgow's George Square.
          p
            span.label.label-success Friendly
            | &nbsp;
    .col-xs-12.col-sm-4
     p.lead Are you an animal lover? Want to help others find their companions? dawg shows lost dogs last seen near you.
